[Desktop Entry]
Name=Calendar
Comment=View the calendar and local agenda
Type=Application
Exec=cos app panel-calendar open
Terminal=false
Categories=Utility;X-ClawOS;
Keywords=ClawOS;Applet;Calendar;Schedule;
Icon=com.clawos.PanelCalendarButton-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
