* text=auto
products/mail/comm/** -text
products/calendar/native/LICENSE whitespace=-blank-at-eof
products/clipboard/native/LICENSE whitespace=-blank-at-eof
products/desktop-widgets/native/LICENSE whitespace=-blank-at-eof
products/editor/native/cosmic-edit/.github/PULL_REQUEST_TEMPLATE.md whitespace=-blank-at-eof
