[Desktop Entry]
Name=Wired
Comment=Wired connections and connection profiles.
Type=Application
Exec=cosmic-settings wired
Terminal=false
Categories=ClawOS
Keywords=ClawOS;Wired;LAN;Network;Connection;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-wired
StartupNotify=true
