[Desktop Entry]
Name=Users
Comment=Authentication and user accounts.
Type=Application
Exec=cosmic-settings users
Terminal=false
Categories=ClawOS
Keywords=ClawOS;User;Account;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-users
StartupNotify=true
