[Desktop Entry]
Name=Dock
Comment=An optional bar for apps and applets.
Type=Application
Exec=cosmic-settings dock
Terminal=false
Categories=ClawOS
Keywords=ClawOS;Dock;Panel;Applet
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-dock
StartupNotify=true
