[Desktop Entry]
Name=Settings
Comment=Settings application for ClawOS.
Type=Application
Exec=cosmic-settings
Terminal=false
Categories=ClawOS
Keywords=ClawOS;Settings;
OnlyShowIn=COSMIC
Icon=com.clawos.Settings
StartupNotify=true
