[Desktop Entry]
Name=Date & Time
Comment=Time zone, automatic clock settings, and time formatting.
Type=Application
Exec=cosmic-settings date-time
Terminal=false
Categories=ClawOS
Keywords=ClawOS;Time;Zone;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-date-and-time
StartupNotify=true
