[Desktop Entry]
Name=Screenshot
Name[ar]=لقطة شاشة ClawOS
Name[cs]=Snímky obrazovky ClawOS
Name[es]=Captura de pantalla
Name[pl]=Zrzuty ekranu ClawOS
Name[pt]=Captura de Tela
Name[ru]=Снимок экрана
Name[sv]=Skärmbild
Name[zh_CN]=截图
Name[nl]=schermafdrukken
Name[af]=skermafdrukke
Name[hu]=Képernyőkép
Type=Application
Exec=cosmic-screenshot
Terminal=false
Categories=ClawOS;Utility;
Keywords=ClawOS;capture;screenshot;
Keywords[ar]=لقطة;صورة;شاشة;لقطة شاشة;
Keywords[cs]=Screenshot;snímek;snímky;zachytit;
Keywords[es]=Screenshot;Captura;Imprimir;Print;
Keywords[pt]=screenshot;print;
Keywords[ru]=Скриншот;Снимок;Экрана;
Keywords[sv]=ClawOS;fånga;skärmbild;inspelning;
Keywords[nl]=ClawOS;afdruk;schermafdruk;
Keywords[af]=ClawOS;afdruk;skermafdruk;
Keywords[hu]=rögzítés;
Icon=com.clawos.Screenshot
StartupNotify=true
